<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--  
        条件渲染：
            1.v-if
                写法：
                    (1).v-if = "表达式"
                    (2).v-else-if="表达式"
                    (3).v-else="表达式"
                适用于：切换频率较低的场景。
                特点：不展示的DOM元素直接被移除
                注意：v-if可以和:v-else-if,v-else一起使用，但要求结构不能被“打断”。
            2.v-show
                写法：v-show="表达式"
                适用于：切换频率较高的场景。
                特点：不展示的DOM元素未被一处，仅仅是使用样式影藏掉
            3.备注：使用v-if的时候，元素可能无法获取到，而使用v-show一定一定可以获取到。
    -->
</head>

<body>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <script src="../js/vue.js"></script>
    </head>

    <body>
        <div id="root">
            <!-- v-show不展示的DOM元素隐藏（display："heideng") -->
            <h2 v-show='true'>欢迎来{{name}}到学习</h2>
            <h2 v-show='1==2'>欢迎来{{name}}到学习</h2>
            <h2 v-show='1 &gt; 2'>欢迎来{{name}}到学习</h2>
            <hr>
            <!-- v-if不展示DOM元素（直接是删除） -->
            <h2 v-if='true'>欢迎来到尚硅谷 </h2>
            <h2 v-if='2>3'>欢迎来到尚硅谷 </h2>
            <h2 v-if='1==2'>欢迎来到尚硅谷 </h2>

            <div>n的值为{{n}}</div>
            <button @click="n++">点击n++</button>
            <h3 v-show='n === 1'>shift狗币</h3>
            <h3 v-show='n === 2'>曹老板牛逼</h3>
            <h3 v-show='n === 3'>方老板牛逼</h3>
            <hr>
            <h3 v-if='n===1'>路飞</h3>
            <h3 v-else-if='n===2'>索隆</h3>
            <h3 v-else>索隆</h3>

            <template v-if='n===5'>
                <h3>欢迎你个哈皮</h3>
                <h3>欢迎你个哈皮</h3>

                <h3>欢迎你个哈皮</h3>
                <h3>欢迎你个哈皮</h3>
            </template>
        </div>
        <script>
            Vue.config.productionTip = false//组织vue在启动是生成生产提示
            new Vue({
                el: '#root',
                data: {
                    name: '尚硅谷',
                    n: 0
                }
            })
        </script>
    </body>

    </html>
</body>

</html>