<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="root">

        <label for="number">账号：</label>
        <input type="text" name="" id="number" v-model="number"><br><br>

        <label for="pwd">账号：</label>
        <input type="password" name="" id="pwd" v-model="pwd"><br><br>

        性别：
        <input type="radio" name="sex" id="nan" value="男" v-model="sex"><label for="nan">&nbsp;
            &nbsp;男&nbsp;&nbsp;&nbsp;</label>
        <input type="radio" name="sex" id="nv" value="女" v-model="sex"><label for="nv">&nbsp;
            &nbsp;女&nbsp;&nbsp;&nbsp;</label><br><br><br><br>

        爱好：
        <input type="checkbox" name="hobby" id="xuexi" value="学习" v-model="hobby"><label
            for="xuexi">&nbsp;学习&nbsp;&nbsp;</label>
        <input type="checkbox" name="hobby" id="dayouxi" value="打游戏" v-model="hobby"><label
            for="dayouxi">&nbsp;打游戏&nbsp;&nbsp;</label>
        <input type="checkbox" name="hobby" id="qiaodaima" value="敲代码" v-model="hobby"><label
            for="qiaodaima">&nbsp;敲代码&nbsp;&nbsp;</label><br><br><br><br>

        所属校区：
        <select v-model="region">
            <option value="">请选择地区</option>
            <option value="北京市">北京</option>
            <option value="上海市">上海</option>
            <option value="武汉市">武汉</option>
            <option value="深证市">深证</option>
        </select>
        <br><br><br><br>

        其他信息：<br><br>
        <textarea name="" id="" cols="30" rows="10" v-model='textarea'></textarea>
        <br><br>
        <input type="checkbox" name="" id="" value="《用户协议》" v-model='agreement'> 阅读并接受<a href="#">《用户协议》</a><br><br>
        <button>提交</button>
    </div>
    <script>
        Vue.config.productionTip = false//组织vue在启动是生成生产提示
        new Vue({
            el: '#root',
            data: {
                number: '',
                pwd: '',
                sex: '男',
                hobby: ["学习", '打游戏', '敲代码'],
                region: '北京市',
                textarea: '',
                agreement:'true'
            }
        })
    </script>
</body>

</html>